{% import "macros/link.html" as link %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="A simple private pastebin with (optional) client side encryption." />
    <meta name="keywords" content="privbin, pastebin, private, rust, encryption, client side" />
    <meta name="author" content="vblinden" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Privbin</title>

    <link rel="icon" type="image/png" href="/static/favicon.png" />
    <link rel="stylesheet" href="https://fonts.bunny.net/css?family=fira-mono:400,500,700" />

    <link href="/static/css/app.css" rel="stylesheet">
</head>

<body class="antialiased">
    <div class="text-center my-6 mx-4 py-10 px-4 sm:container sm:mx-auto">
        <a>
            <h1 class="font-extrabold text-transparent text-8xl bg-clip-text bg-gradient-to-r from-purple-400 to-pink-600 mb-1">
                Privbin
            </h1>
        </a>

            <p class="mb-3 text-gray-600 text-xl">A simple private pastebin with (optional) client side encryption.</p>

        <main>
            {% block content %}{% endblock content %}
        </main>

        <footer class="mt-5 text-gray-400">
            <a href="https://github.com/vblinden/privbin" target="_blank" className="hover:text-gray-600" rel="noreferrer">
                See source code on GitHub
            </a>
        </footer>       
    </div>
</body>

</html>
